# This is a sample Jupyter Notebook

Below is an example of a code cell. 
Put your cursor into the cell and press Shift+Enter to execute it and select the next one, or click 'Run Cell' button.

Press Double Shift to search everywhere for classes, files, tool windows, actions, and settings.

To learn more about Jupyter Notebooks in PyCharm, see [help](https://www.jetbrains.com/help/pycharm/ipython-notebook-support.html).
For an overview of PyCharm, go to Help -> Learn IDE features or refer to [our documentation](https://www.jetbrains.com/help/pycharm/getting-started.html).

In [1]:
import numpy as np
import pandas as pd

In [24]:

dfDevastatorAt = pd.read_csv("data/"+"AL.csv")
dfDevastatorEP = pd.read_csv("data/"+"EP.csv")

In [25]:
dfDevastatorEP

,index,Key,Name,DateTime,Record,Status,Lat,Lon,Wind,Pressure,...,SW34,NW34,NE50,SE50,SW50,NW50,NE64,SE64,SW64,NW64
0,0,EP011949,UNNAMED,1949-06-11T00:00:00Z,NaN,TS,20.2,-106.3,45,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,EP011949,UNNAMED,1949-06-11T06:00:00Z,NaN,TS,20.2,-106.4,45,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,EP011949,UNNAMED,1949-06-11T12:00:00Z,NaN,TS,20.2,-106.7,45,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,EP011949,UNNAMED,1949-06-11T18:00:00Z,NaN,TS,20.3,-107.7,45,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,EP011949,UNNAMED,1949-06-12T00:00:00Z,NaN,TS,20.4,-108.6,45,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26863,26863,EP222016,OTTO,2016-11-25T12:00:00Z,NaN,TS,10.3,-87.5,55,995.0,...,30.0,40.0,10.0,10.0,0.0,10.0,0.0,0.0,0.0,0.0
26864,26864,EP222016,OTTO,2016-11-25T18:00:00Z,NaN,TS,10.0,-88.8,50,997.0,...,30.0,40.0,10.0,10.0,0.0,10.0,0.0,0.0,0.0,0.0
26865,26865,EP222016,OTTO,2016-11-26T00:00:00Z,NaN,TS,9.7,-90.2,45,1000.0,...,30.0,40.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26866,26866,EP222016,OTTO,2016-11-26T06:00:00Z,NaN,TS,9.4,-91.7,40,1003.0,...,30.0,40.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26867,26867,EP222016,OTTO,2016-11-26T12:00:00Z,NaN,TD,9.1,-93.3,30,1005.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
dfDevastatorAt.sample(10)

,index,Key,Name,DateTime,Record,Status,Lat,Lon,Wind,Pressure,...,SW34,NW34,NE50,SE50,SW50,NW50,NE64,SE64,SW64,NW64
19863,19863,AL061942,UNNAMED,1942-09-20T18:00:00Z,NaN,TS,34.9,-69.5,45.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43380,43380,AL092004,IVAN,2004-09-03T12:00:00Z,NaN,TS,9.5,-32.1,40.0,1003.0,...,0.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33833,33833,AL091980,GEORGES,1980-09-02T06:00:00Z,NaN,TD,17.5,-45.7,30.0,1010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30131,30131,AL131971,EDITH,1971-09-11T18:00:00Z,NaN,TS,19.3,-89.9,35.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30139,30139,AL131971,EDITH,1971-09-13T18:00:00Z,NaN,TS,23.1,-96.1,40.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27688,27688,AL091966,INEZ,1966-10-05T06:00:00Z,NaN,HU,24.6,-82.2,80.0,985.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13732,13732,AL051919,UNNAMED,1919-11-13T12:00:00Z,NaN,TS,28.0,-66.4,50.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35502,35502,AL091985,GLORIA,1985-09-18T18:00:00Z,NaN,TD,15.4,-38.1,30.0,1006.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35929,35929,AL011987,UNNAMED,1987-05-28T06:00:00Z,NaN,TD,25.3,-70.1,30.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39683,39683,AL071996,GUSTAV,1996-08-29T12:00:00Z,NaN,TS,13.7,-37.2,40.0,1005.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN